<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Match</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Mood Match</h1>

    <h2>What you are feeling now is completely valid. Find someone who has felt similar:</h2>

    <input type="text" placeholder="My mood">
    <button class="button">Submit</button>

    <h3 class="image"></h3>
    <h4 class="caption"></h4>
    
    <script src="/main.js"></script>
</body>
</html>